div#main-content {
margin: auto 300px 0.75em;
/*-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;*/
background-color:white;
-moz-box-shadow: 0 0 5px 5px #888;
-webkit-box-shadow: 0 0 5px 5px#888;
box-shadow: 0 0 5px 5px #888;
padding:5em;
}


body{
	
	background-image:url('../images/back.png');
	background-repeat:repeat;
}

div.graph
{
	position: relative;
	left: -15px;
	top: 40px;
	width: 750px;
	height: 410px;
/*	border: 1px dashed gainsboro;
*/}

label
{
	display: block;
	margin-right: 700px;
	padding: 5em;
}

h2
{
	padding-top: 1em;
	margin-bottom: 0;
	clear: both;
	color: #ccc;
}



#hover_percentile{
	text-align: center;
	position: absolute;
	top: 446px;
	left:688px;
}

#hover_name{
	text-align: center;
	position: absolute;
	top: 700px;
	left:670px;
}