div.graph
{
	position: absolute;
	margin-left: 300px;
	margin-top: 20px;
	width: 750px;
	height: 410px;
/*	border: 1px dashed gainsboro;
*/}

label
{
	display: block;
	margin-right: 700px;
	padding: 5em;
}

h2
{
	padding-top: 1em;
	margin-bottom: 0;
	clear: both;
	color: #ccc;
}

#drop{
	
	float: left;
}

#hover{
	position: absolute;
	top: 300px;
	left:300px;
	
}