<% unless @statistics.nil? %>
	<div  id='chart_div'>
		<input type="hidden" id ='chart_data' value="<%= @statistics %>" />
	</div>

	<h2>Top Commentator's</h2>
	<div id='wait'></div>
		<div id="interactive" class="graph"></div>
		<label for="interactive">
			
		</label>
		
		
		<div id="hover"></div>
<% end %>

<p><%= @statistics_unsorted %></p>


<script type="text/javascript">
$(document).ready(function() {

	var data_string = $("#chart_data").attr("value");
	data_string = data_string.slice(0, -1);
	var array = data_string.split(",");
	var data = [];
	var counter = 0;
	for(var i = 0; i<array.length-1; i++){
	  data[counter] = { label: ""+array[i], data: parseInt(array[i+1]) }
		counter++;
		i++;
	}
	$.plot($("#interactive"), data,
	{
		series: {
			pie: {
				innerRadius: 0.5,
				show: true
			}
		},
      grid: {
          hoverable: true,
          clickable: true
      }
	});
	$("#interactive").bind("plothover", pieHover);
	$("#interactive").bind("plotclick", pieClick);
});
</script>