<% unless @statistics.nil? %>
	<div id='friend_posts'>
		<%= @statistics %>
	</div>
	<p>This is returning</p>
<% end %>

<div><img src="../../public/images/pie_keynote.png" height='200' width="200">
</div>

