<% unless @statistics.nil? %>
	<div id='friend_posts'>
		<%= @statistics %>
	</div>
	<p>This is returning</p>
<% end %>

<div  id='chart_div'>
	<input type="hidden" id ='chart_data' value="<%= @statistics %>" />
</div>




