<% unless @statistics.nil? %>
	<div id='friend_posts'>
		<%= @statistics %>
	</div>
	<p>This is returning</p>


<div  id='chart_div'>
	<input type="hidden" id ='chart_data' value="<%= @statistics %>" />
</div>

<h2>Donut</h2>
<div id="donut" class="graph"></div>
<label for="donut">

</label>

<% end %>

<p><%= @statistics_unsorted %></p>

<script type="text/javascript">
$(document).ready(function() {
	// data

	// var data_string = $("#chart_data").attr("value");
	// data_string = data_string.slice(0, -1);
	// alert(data_string);
	// var array = data_string.split(",");
	// var data = [];
	// var counter = 0;
	// for(var i = 0; i<array.length-1; i++){
	//   data[counter] = { label: ""+array[i], data: array[i+1] }
	// 	alert(array[i]);
	// 	alert(array[i+1]);
	// 	alert(counter);
	// 	alert(data[counter]);
	// 	counter++;
	// 	i++;
	// }

	var data = [
	{ label: "Series1", data: 10},
	{ label: "Series2", data: 30},
	{ label: "Series3", data: 90},
	{ label: "Series4", data: 70},
	{ label: "Series5", data: 80},
	{ label: "Series6", data: 110}
	];
	alert(data[1]);
	alert(data[2]);
	alert(data[3]);
	alert(data[4]);


		$.plot($("#donut"), data,
		{
			series: {
				pie: {
					innerRadius: 0.5,
					show: true
				}
			}
		});
	});
		
</script>
		
		
<style type="text/css">
		* {
		  font-family: sans-serif;
		}
		
		body
		{
			padding: 0 1em 1em 1em;
		}
		
		div.graph
		{
			width: 400px;
			height: 300px;
			float: left;
			border: 1px dashed gainsboro;
		}
		
		label
		{
			display: block;
			margin-left: 400px;
			padding-left: 1em;
		}
		
		h2
		{
			padding-top: 1em;
			margin-bottom: 0;
			clear: both;
			color: #ccc;
		}
		
		code
		{
			display: block;
			background-color: #eee;
			border: 1px dashed #999;
			padding: 0.5em;
			margin: 0.5em;
			color: #666;
			font-size: 10pt;
		}
		
		code b
		{
			color: black;
		}
		
		ul
		{
			font-size: 10pt;
		}
		
		ul li
		{
			margin-bottom: 0.5em;
		}
		
		ul.options li
		{
			list-style: none;
			margin-bottom: 1em;
		}
		
		ul li i
		{
			color: #999;
		}
	</style>