<% unless @statistics.nil? %>
	<div  id='chart_div'>
		<input type="hidden" id ='chart_data' value="<%= @statistics %>" />
	</div>

	<h2 id='chart_head'><u>Top ranking comment poster's on <%= @sel_friend %>'s wall:</u></h2>
	<br/><br/>
	<div id='wait'></div>
		<div id="interactive" class="graph"></div>
		<label for="interactive">
		<div id="hover_percentile"></div>			
		<div id="hover_name"></div>
		<div><p>Please hover over or click graph sections for more info.</p></div>
		</label>
<% end %>

<p><%= @statistics_unsorted %></p>


<script type="text/javascript">
function pieHover(event, pos, obj) 
{
	if (!obj)
                return;
	percent = parseFloat(obj.series.percent).toFixed(2);
	$("#hover_percentile").html('<span style="text-align: center; margin-left: 250; font-size: 25px; font-weight: bold; color: '+obj.series.color+'">'+percent+'%</span>');
	
	$("#hover_name").html('<span style="text-align: center; margin-left: 250; font-size: 15px; font-weight: bold; color: '+obj.series.color+'">'+obj.series.label+'</span>');
}

function pieClick(event, pos, obj) 
{
	if (!obj)
                return;
	percent = parseFloat(obj.series.percent).toFixed(2);
	alert(''+obj.series.label+': '+percent+'%');
}
</script>