<% unless @statistics.nil? %>
	<div  id='chart_div'>
		<input type="hidden" id ='chart_data' value="<%= @statistics %>" /> <!--hidden elements value is used for chart data -->
	</div>
	<h2 id='chart_head' style='display: none'><u>Top ranking comment poster's on <%= @sel_friend %>'s wall:</u>
		<p style='font-size: 0.5em;'>Please hover over or click graph sections for more info.</p>
	</h2>
	<br/>
	<div id='wait'></div>
		<div id="interactive" class="graph"></div>
		<label for="interactive">
		<div id="hover_percentile"></div>			
		<div id="hover_name"></div>
		</label>
<% end %>

<p><%= @statistics_unsorted %></p>
