<h2> Friend Wall Statistics </h2>
	<p> Please select a friend to analyze: </p>
  <%= friend_select %>
  <input type='button' value="Analyze Friend's Wall" id='analyze_button'/>
	<div id='posts_content'>
		<%= render :partial => "fetch_friend_posts" %>
	</div>
	
	<% @frends.each do |f|%>
	<p><%= f %></p>
		
		<% end %>