<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>WildfireApp Chalenge</title>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<meta http-equiv="Content-Language" content="en-GB" />
		<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="https://people.iola.dk/olau/flot//excanvas.min.js"></script><![endif]-->
		<script type="text/javascript" src="https://people.iola.dk/olau/flot/jquery.js"></script>
    <%= stylesheet_link_tag 'application', 'facebook' %>
		<%= javascript_include_tag 'jquery','facebook', 'jquery_flot','jquery_flot_pie' %>
  </head>
	<body>
		<div id='content'>
			<div id='fb-root'>
				<%= yield %>
			</div>
		</div>
	</body>
</html>


<script type="text/javascript">
	window.fbAsyncInit = function() {
	FB.init({appId: 232072346882570, status: true, cookie: true, xfbml: true});
	};
	(function() {
	var e = document.createElement('script');
	e.type = 'text/javascript';
	e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
	e.async = true;
	document.getElementById('fb-root').appendChild(e);
	}());
</script>